/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html, body{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, th{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.text-blue{
    color: #6AB9F2 !important;
}

.text-blue-dark{
    color: #3576A5 !important;
}

.text-green-dark{
    color: #297d37 !important;
}

.bg-white{
    background-color: #FFF !important;
}

.bg-blue{
    background-color: #6AB9F2 !important;
}

.bg-blue-dark{
    background-color: #3576A5  !important;
}

.border-blue{
    border-color: #6AB9F2 !important;
}

.border-blue-dark{
    border-color: #3576A5  !important;
}

.text-light{
    font-weight: 300 !important;
}

.text-regular{
    font-weight: 400 !important;
}

.text-medium{
    font-weight: 500 !important;
}

.text-semibold{
    font-weight: 600 !important;
}

.text-bold{
    font-weight: 700 !important;
}

.text-bold{
    font-weight: 700 !important;
}



/* App configuration */
.btn.btn-daftar{
    background-color: #3b8686;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.btn.btn-daftar:hover{
    background-color: #459e9e;
}

.nav-link{
    transition: .3s;
}

.nav-link.active{
    color: #297d37 !important;
    font-weight: 600;
}

section{
    padding: 80px 0;
}

section .section-title-black{
    margin-bottom: 40px;
    color: #000;
    text-align: center;
}

section .section-title-blue{
    margin-bottom: 40px;
    color: #3576A5;
    text-align: center;
}

section .section-title-green{
    margin-bottom: 40px;
    color: #238a56;
    text-align: center;
}

section .section-title-hitam{
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: 'Cormorant Upright', serif;
}

section .section-title-white{
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
}

.navbar{
    transition: .5s;
}
.navbar.fixed-top{
    animation: shownavbar forwards 1.5s;
}

@keyframes shownavbar{ 0%{top: -60px; } 50%{ top: -30px; } 50%{ top: 0px; } }


/* hero configurations */
section.hero{
    padding-top: 150px;
    min-height: 300px;
    background-image: url('../images/small-tits.png');
    background-color: #fff;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

/* alur daftar styles */
.alur-daftar .ordering-number{
    width: 50px;
    height: 50px;
}

.alur-daftar .alur-step{
    text-align: center;
}

.alur-daftar .item-alur{
    transition: .5s;
    transform: translateY(50px);
    opacity: 0;
}

.alur-daftar .item-alur.show{
    transform: translateY(0);
    opacity: 1;
}

/* profil styles */
section.profil ol{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* alur daftar style 2 */
section.alur-daftar2 .ordering-number2{
    width: 50px;
    height: 50px;
}

section.alur-daftar2 .alur-step2{
    text-align: center;
}


/* profil styles */
section.profil ol{
    display: table;
    margin-left: auto;
    margin-right: auto;
}



/* section visi misi styles */
section.visi-misi{
    background-image: url('../images/galeri-6.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 0;
}
section.visi-misi .container{
    position: relative;
    z-index: 2;
}
section.visi-misi h3, section.visi-misi p, section.profil p{
    text-align: center;
}

section.visi-misi .item-visi-misi-kiri{
    transition: .5s;
    transform: translateX(-50px);
    opacity: 0;
}

section.visi-misi .item-visi-misi-kiri.show{
    transform: translateX(0);
    opacity: 1;
}

section.visi-misi::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(140, 140, 140, 0.7);
}

/* galeri styles */
section.galeri .galery-item{
    border-radius: 25px;
    border: 3px solid #FFF;
    transition: .3s;
    transform: scale(1) translateY(50px);
    transition: .5s;
    opacity: 0;
}

section.galeri .galery-item.show{
    transform: translateY(0);
    opacity: 1;
}

section.galeri .galery-item:hover{
    border: 3px solid #3576A5;
    transform: scale(1.1);
}

/* kontak styles */
section.kontak .map{
    border: none;
    border-radius: 25px;
    height: 300px;
    min-height: 300px;
}

section.kontak dl{
    text-align: center;
}


.btn.btn-blog{
    background-color: #3b8686;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.btn.btn-blog:hover{
    background-color: #4bb0b0;
}

.subjudul-blog{
    font-family: 'Itim', cursive;
}

.judul-selamatdatang{
    font-family: 'Jua', sans-serif;
}





















/* responsive configuration */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

    section.hero{
        min-height: 500px;
    }
    section.kontak dl{
        text-align: left;
    }

}

@media (min-width: 992px) {

    section.hero{
        background-image: url('../images/gambar1.png');
        background-size: cover;
        min-height: 600px;
        text-align: left;
    }

    section.alur-daftar .alur-step, section.profil p{
        text-align: left;
    }

    section.profil ol{
        display: inline-block;
    }


 }

@media (min-width: 1200px) {

    section.hero{
        min-height: 700px;
    }

    section.visi-misi h3, section.visi-misi p, section.profil p{
        text-align: left;
    }

 }

@media (min-width: 1400px) {

    section.hero{
        min-height: 800px;
    }

 }

@media (min-width: 1550px) {
    section.hero{
        min-height: 900px;
    }
 }
@media (min-width: 1750px) {
    section.hero{
        min-height: 1000px;
    }
 }

 .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .nama_guru{
    font-family: 'Fredoka One', cursive;
    color: #459e9e;
    font-weight: bold;
  }

  .subjudul-selamatdatang{
    font-family: 'Fredoka One', cursive;
  }
  